.GifResult {
    color: #fff;
    text-decoration: none;
    margin: 10px;
    padding: 5px;
}

.GifResult img {
    object-fit: contain;
    align-items: center;
}

.GifResult span {
    font-size: 15px;
}

.GifResult img.thumbs {
    width: 50%;
    height: 50%;
  }